@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --mainColor: #89216b;
    --whiteColor: #ffffff;
    --titleColor: #555555;
    --labelColor: #333333;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #da4453, var(--mainColor));
    font-weight: 1000;
    min-height: 40vh;
    display: grid;
    place-content: center;
    overflow: hidden;
    margin-top: 13%;
}